dj-database-url==0.5.0
Django==4.0.3
django-djconfig==0.10.0
django-infinite-scroll-pagination==1.1.0
django-widget-tweaks==1.4.12
Markdown==3.3.6
mistune==0.8.4
python-decouple==3.6
sqlparse==0.4.2
tzdata==2022.1
Whoosh==2.7.4