Здравствуйте!

Кто-то начал процедуру сброса пароля для почты: {{ email }}.
Для сброса пароля перейдите по ссылке.
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Ваш ник: {{ user.username }}

Если при нажатии на сссылку ничего не происходит - скопируйте ее в адресную строку вручную.

Если Вы получили это письмо по ошибке - просто игнорируйте его.

Если Вы думаете, что Ваш аккаунт пытаются взломать, советуем как можно быстрее сменить пароль самостоятельно.

С уважением,

Команда Форума о Плоском мире.