{% extends 'base_accounts.html' %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Сброс пароля</h3>
          <p>Письмо отправлено, проверьте Вашу почту, не забудьте проверить папку Спам, если письмо не пришло.</p>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Назад</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}